<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gogo Anime</title>
    <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/videojs-http-streaming/dist/videojs-http-streaming.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/trending/week">Trending (Week)</a></li>
                <li><a href="/trending/month">Trending (Month)</a></li>
                <li><a href="/trending/all">Trending (All)</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>