<h1>Homepage</h1>
<div class="trending-anime">
    <a href="/trending/week" class="btn-primary">Trending Anime by Week</a>
    <a href="/trending/month" class="btn-primary">Trending Anime by Month</a>
    <a href="/trending/all" class="btn-primary">All Trending Anime</a>
</div>