* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

:root {
  --primary-color: black;
  --primary-dark-color: rgb(53, 53, 53);
  --secondary-color: white;
  --secondary-dark-color: gray;
}

:root {
  --swiper-navigation-size: 15px;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 10px;
  z-index: 10;
  background-color: black;
}

header .header-aside {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-aside img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

header .header-aside i {
  margin: 0 10px;
}

header .header-aside .fa-bell {
  font-size: 20px;
}

.fa-search {
  background-color: var(--primary-dark-color);
  padding: 10px;
  border-radius: 50%;
}

nav {
  position: fixed;
  width: 100%;

  padding: 10px;
  z-index: 10;
  bottom: 0px;
}

nav .mobile-nav {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

nav .nav-icon {
  border-radius: 10px;
  background: rgb(49, 49, 49);
  color: white;
  padding: 10px;
}

nav .nav-icon.active,
nav .nav-icon:hover {
  background: #12f97f;
}

nav .nav-icon img {
  width: 15px;
}

nav .red-btn {
  background-color: rgb(228, 26, 26);
}

main {
  position: absolute;
  top: 90px;
  width: 100%;
  padding: 0 20px;
}
.swiper {
  width: 100%;
  border-radius: 10px;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-size: cover;
  height: 300px;
  padding: 20px;
}

/* .swiper-slide div {
  background-color: gray;
  color: red;
} */

/* .slide1 {
  background-image: url("../images/wallpaperflare\ 1.png");
}
.slide2 {
  background-image: url("../images/wallpaperflare\ 1.png");
}
.slide3 {
  background-image: url("../images/wallpaperflare\ 1.png");
} */

.green-btn {
  border-radius: 6px;
  background: #12f97f;
  color: white;
  padding: 10px;
  border: 0;
}

.green-btn a {
  text-decoration: none;
  color: white;
}

.gray-btn {
  padding: 10px;
  border-radius: 7px;
  color: rgba(128, 128, 128, 0.5);
  border: 0;
  margin-left: 10px;
}

.logo2,
.logo3 {
  display: none;
}

.categories {
  margin: 30px 0;
}

.category-cards {
  margin-top: 20px;
}

.category-card {
  background: linear-gradient(to top, #1b1b1b, #535353);
  padding: 20px;
  border-radius: 10px;
}

.category-card .category-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-card .category-card-header img {
  width: 60px;
}

.category-card .green-btn {
  width: 100%;
  color: black;
  font-weight: bold;
}

.categories .swiper-slide {
  height: auto;
}
.categories .category-card {
  width: 100%;
}

.categories .swiper-buttons {
  position: absolute;
  top: 20px;
  right: 100px;
}

.categories .swiper-button-prev,
.categories .swiper-button-next {
  color: #e7e5e5;
}

.categories .swiper-button-next {
  left: 50px;
}

.categories .swiper-slide div {
  background-color: transparent;
  color: white;
}

.trending {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}

.trending .trending-card {
  border-radius: 10px;
}

.trending .trending-card img {
  width: 100%;
  border-radius: 10px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main-header .fa-search {
  margin-right: 20px;
}

.favourite-section {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}

.watchlist img {
  max-height: 300px;
}

.watchlist .ellipsis {
  width: 100%;
  text-align: right;
}

.favourite-card {
  background-color: rgb(37, 37, 37);
  padding: 10px;
  border-radius: 10px;
}

.favourite-card img {
  width: 100%;
  border-radius: 10px;
  width: 100%;
}

.favourite-card .favourite-card-img {
  position: relative;
}

.favourite-card .tag {
  position: absolute;
  display: block;
  top: 10px;

  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.favourite-card .favourite-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.favourite-card .favourite-card-content .icon {
  padding: 5px 10px;
  background-color: rgb(87, 86, 86);
  border-radius: 10px;
}

.favourite-card .favourite-card-content .icon:hover i,
.favourite-card .favourite-card-content .icon.active i {
  color: red;
}

.favourite-card .fa-ellipsis-v {
  padding: 15px 20px;
  border-radius: 10px;

  border: 1px solid rgb(65, 63, 63);
}

.categories-btn .green-btn {
  width: auto;
}

.green-tag {
  background-color: rgb(2, 61, 2);
  display: inline-block;
  font-size: 10px;
  border-radius: 20px;
  padding: 5px 15px;
}

.categories-btn .gray-btn {
  padding: 10px 15px;
  border-radius: 10px;

  border: 1px solid rgb(172, 164, 164);
  color: white;
  background-color: transparent;
}
.green-btn:hover {
  background-color: rgb(4, 139, 65);
  color: white;
}

.watchlist .favourite-card {
  margin-bottom: 20px;
}

.gray-btn:hover {
  background-color: black;
}

/* responsive style */

@media only screen and (min-width: 700px) {
  .logo1 {
    display: none;
  }

  .logo2 {
    display: block;
    margin-left: 0px;
  }

  .logo3 {
    display: block;
  }

  nav {
    position: fixed;
    width: 100%;

    padding: 1.5%;

    top: 20px;

    width: 7%;
    background-color: rgb(31, 30, 30);
    margin-left: 20px;
    height: 95vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  nav .mobile-nav {
    display: block;
  }

  nav .nav-icon {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(19, 18, 18);
  }

  nav .nav-icon img {
    width: 20px;
  }

  main {
    position: absolute;
    top: 70px;
    width: 90%;
    padding: 0 10px;
    left: 10%;
  }
  .swiper-slide {
    height: 400px;
  }

  .favourite-section,
  .trending {
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
  }
}

@media only screen and (min-width: 1000px) {
  .favourite-section,
  .trending {
    grid-template-columns: 23% 23% 23% 23%;
    gap: 2%;
  }
}

@media only screen and (max-width: 500px) {
  .watchlist {
    display: block;
    padding: 20px;
  }
}
