* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    /* border: 1px solid red; */
  }
  
:root {
    --primary-color: black;
    --primary-dark-color: rgb(53, 53, 53);
    --secondary-color: white;
    --secondary-dark-color: gray;
}
  
:root {
    --swiper-navigation-size: 15px;
}
  
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
  
header {
    /* position: fixed; */
    width: 100%;
    display: flex;
    padding: 10px;
    z-index: 10;
    background-color: black;
}
  
header .header-aside {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
header .header-aside img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
  
header .header-aside i {
    margin: 0 10px;
}
  
header .header-aside .fa-bell {
    font-size: 20px;
}

.icons a {
    text-decoration: none;
}

.fa-angle-left{
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    color: white;
}

.fa-ellipsis-v {
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    color: white; 
}

nav {
    display: none;
}

.container {
    padding: 8px 8%;

}

.main {
    position: absolute;
    top: 70px;
    width: 100%;
    padding: 0 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
}


.mainInfo {
    display: flex;
    gap: 12px;
    justify-content: center;
    height: 20rem;
}

.mainInfo .details {
    width: 40%;
}

.mainInfo .Img {
    background-image: url('/assets/images/wallpaperflare\ 1.png');
    width: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details h3 {
    font-size: 2rem;
}


.desktopInfoButtons {
    display: none;

}

.desktopInfoButtons .addFav {
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}

.desktopInfoButtons .addFav:hover {
    color: rgb(255, 28, 28);
}

.desktopInfoButtons button {
    background-color:rgb(53, 53, 53);
    border-radius: 5px;
    border: none;
}

.desktopInfoButtons .option .fa-ellipsis-v{
    font-size: 18px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoSummaryBody {
    margin-top: 10px;
}

.details .green-btn {
    width: 40%;
}

.green-btn {
    border-radius: 6px;
    background: #12f97f;
    color: black;
    padding: 10px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.rating p {
    margin: 10px 0;
}

.summary {
    margin: 20px 0;
}

.mainEpisodesBody .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.mainEpisodesBody .top a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.episodesWrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.episodeContainer {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2 ));
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 5px;
    margin: 20px 20px 20px 0;
}


.episodeContainer .topBody {
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;
}

.episodeContainer .topBody img {
    width: 80px;
    border-radius: 5px;
}

.play-btn {
    margin: 20px 0 0 0;
}

@media only screen and (min-width: 700px) {
    .logo1 {
        display: none;
    }

    .logo2 {
        display: block;
        margin-left: 0px;
    }
    
    .logo3 {
        display: block;
    }
    
    nav {
        display: block;
        position: fixed;
        width: 100%;
    
        padding: 1.5%;
    
        top: 20px;
    
        width: 7%;
        background-color: rgb(31, 30, 30);
        margin-left: 20px;
        height: 95vh;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    nav .mobile-nav {
        display: block;
    }
    
    nav .nav-icon {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgb(19, 18, 18);
    }
    
    nav .nav-icon img {
        width: 20px;
    }

    nav .nav-icon {
        border-radius: 10px;
        background: rgb(49, 49, 49);
        color: white;
        padding: 10px;
    }
      
    nav .nav-icon.active,
    nav .nav-icon:hover {
        background: #12f97f;
    }
      
    nav .nav-icon img {
        width: 15px;
    }
      
    nav .red-btn {
        background-color: rgb(228, 26, 26);
    }

    .mobileInfoButtons {
        display: none;
    }

    .desktopInfoButtons {
        display: flex;
        gap: 10px;
    }

    .summary {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        padding: 8px 4%;
    }

    .episodeContainer {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2 ));
        backdrop-filter: blur(10px);
        padding: 10px;
        border-radius: 5px;
        margin: 10px 10px 10px 0;
        width: 45%;
    }

    .mainEpisodesBody .topBody {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px 0;
    }

    .mainInfo {
        height: 17rem;
    }

    .details h3 {
        font-size: 2.5rem;
    }

    .details .green-btn {
        width: 80%;
    }

    .infoSummaryBody {
        display: none;
    }
  }